@mixin button($color) {
  background: $color;
  &.selected {
    border: solid 5px white;
  }
  &:not(.selected) {
    border: solid 5px transparent;
  }
  &:hover {
    border: solid 5px darken($color, 10%);
  }
}
