// main page

$screen-height: 600px;
$screen-bg: #828282;
$palette-bg: lighten($screen-bg, 30%);
$spacing-margin: 20px;
$size-button: 50px;
$red: rgba(255,0,0,1);
$green: rgba(0,255,0,1);
$blue: rgba(0,0,255,1);

body {
  @include display-flex(flex);
  @include flex-direction(column);
  @include justify-content(space-around);
  @include align-items(center);
  height: $screen-height;
  > div {
    @include display-flex(flex);
    margin-top: $spacing-margin;
    border-radius: 8px;
  }
}

body {
  background: $screen-bg;
}

#canvas {
  @include align-self(stretch);
  flex: 5;
  margin-right: $spacing-margin;
  margin-left: $spacing-margin;
  background: white;
}

#palette {
  @include flex-direction(row);
  @include justify-content(space-around);
  @include align-items(center);
  flex: 1;
  width: 50%;
  background: $palette-bg;

  > .color {
    width: $size-button;
    height: $size-button;
    border-radius: 100%;
  }

  #red {
    @include button($red);
  }
  #green {
    @include button($green);
  }
  #blue {
    @include button($blue);
  }
}
