// main page

body {
  @include flex-container();
  @include size($height:$screen-height);
  > div {
    @include flex-container();
    margin: $spacing-margin $spacing-margin 0 $spacing-margin;
    border-radius: $container-radius;
  }
}

body {
  background: $screen-bg;
}

#canvas {
  @include align-self(stretch);
  flex: 5;
  background: white;
}

#palette {
  @include flex-direction(row);
  @include size(50%);
  background: $palette-bg;

  .red {
    @include circle-toggle-btn($red, $size-button);
  }
  .green {
    @include circle-toggle-btn($green, $size-button);
  }
  .blue {
    @include circle-toggle-btn($blue, $size-button);
  }
}
