// Variables

$screen-height: 600px;
$screen-bg: #828282;
$palette-bg: lighten($screen-bg, 30%);
$container-radius: 8px;
$spacing-margin: 20px;
$size-button: 50px;
$red: rgba(255,0,0,1);
$green: rgba(0,255,0,1);
$blue: rgba(0,0,255,1);
